@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&family=Mohave:ital,wght@0,300..700;1,300..700&display=swap");

:root {
    --primary-blue: #3fbaef;
    --accent-blue: #052645;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.base-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url("/hero_bg.png");
    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 80%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInUp 0.6s cubic-bezier(0.12, 0, 0.39, 0) 0s 1 normal forwards;
}

.hero-heading {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.25rem;
    color: var(--accent-blue);
}

.hero-subheading {
    font-size: 0.9rem;
    margin-bottom: 3rem;
    text-align: center;
}

.hero-button button {
    background: linear-gradient(#21aae5, var(--primary-blue));
    border: none;
    padding: 0.8rem 1.6rem;
    margin-top: 1rem;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
    .hero-heading {
        font-size: 2.75rem;
    }

    .hero-subheading {
        font-size: 1rem;
    }

    .hero-button button {
        padding: 0.9rem 1.8rem;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1024px) {
    .hero-content {
        align-items: start;
    }

    .hero-headings {
        max-width: 50%;
    }

    .hero-heading {
        text-align: start;
    }

    .hero-subheading {
        text-align: start;
    }
}

@media screen and (min-width: 1200px) {
    .hero-content {
        align-items: start;
    }

    .hero-headings {
        max-width: 50%;
    }

    .hero-heading {
        font-size: 4rem;
        text-align: start;
    }

    .hero-subheading {
        font-size: 1.25rem;
        text-align: start;
    }

    .hero-button button {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}

/* NAV */

/* Mobile */

.mobile-nav {
    width: 100%;
    background-color: var(--primary-blue);
    position: fixed;
    display: none;
    justify-content: end;
    z-index: 300;
}

.mobile-nav-container {
    width: 80%;
    padding: 0px 20px;
}

.mobile-nav-open-icon {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 4px;
    background-color: white;
}

.mobile-nav-close-icon {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 10px 0px;
}

.mobile-nav-open-icon span {
    background-color: var(--accent-blue);
    display: block;
    height: 2px;
    margin: 2px 0;
    transition: all 0.3s;
    width: 20px;
}

.mobile-nav-close-icon span {
    height: 100%;
    display: flex;
    justify-content: end;
    padding: 10px 10px;
    border-radius: 4px;
}

.mobile-nav-close-icon span::after {
    content: "\d7";
    font-size: 36px;
    color: var(--accent-blue);
    font-weight: bold;
}

.mobile-nav-links {
    position: fixed;
    left: -1200px;
    width: 100%;
    max-width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.mobile-nav-links.active {
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--primary-blue);
}

#mobile-nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

#mobile-nav-list li {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted var(--accent-blue);
}

#mobile-nav-list li a {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

/* Desktop */
.nav {
    width: 100%;
    background-color: var(--primary-blue);
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    animation: fadeInDown 1s linear 0s 1 normal forwards;
}

@media screen and (min-height: 1025px) {
    .nav {
        visibility: visible;
    }
}

.nav-container {
    width: 100%;
    max-width: 80%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    fill: white;
}

.nav-links {
    display: flex;
    gap: 40px;
    height: 100%;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.1s ease;
}

.nav-links a:hover {
    transform: translateY(-2px);
}

.nav-cta {
    background-color: white;
    border-radius: 500px;
    color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.nav-cta h3 {
    font-weight: 800;
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-left: 6px;
}

.nav-cta img {
    transform: rotate(90deg);
    height: 20px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .nav-cta {
        display: none;
    }

    .nav-container {
        max-width: 100%;
        margin: 0px 20px;
    }
}

/* SERVICES */

.services-content {
    max-width: 80%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
}

.services-headings {
    display: flex;
    flex-direction: column;
}

.services-headings h4 {
    font-family: "Mohave", sans-serif;
    font-size: 14px;
    color: var(--primary-blue);
}

.services-headings h2 {
    font-size: 32px;
    font-weight: 800;
    color: var(--accent-blue);
    margin-top: 7px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 60px;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.services-service {
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
}

.services-service:hover {
    transform: translateY(-5px);
}

.services-service img {
    max-width: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.services-text-container {
    margin-left: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.services-text-container h3 {
    font-size: 24px;
}

.services-text-container p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.services-text-container svg {
    margin-top: auto;
    width: 30px;
}

/* Animations */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Nav Stuff */

@media screen and (max-width: 768px) {
    .mobile-nav {
        display: flex;
    }

    .nav {
        display: none;
    }
}
