---

---

<div class="nav">
    <div class="nav-container">
        <div class="nav-logo">
            <img src="/LOGO.svg" alt="Renowned Dental Clinic" width="150" />
        </div>
        <div class="nav-links">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Services</a>
            <a href="">Patients</a>
            <a href="">Contact Us</a>
        </div>
        <div class="nav-cta">
            <img src="/icons/phone.svg" alt="phone" /><h3>1300-505-050</h3>
        </div>
    </div>
</div>
