---

---

<section class="hero-section">
    <div class="hero-content">
        <div class="hero-headings">
            <h1 class="hero-heading">The Better Dental<br />Experience</h1>
            <p class="hero-subheading">
                You deserve better than average dental care. We strive to
                provide exceptional service and a comfortable experience,
                tailored just for you.
            </p>
        </div>
        <div class="hero-button">
            <button>Request Appointment</button>
        </div>
    </div>
</section>
