---
const services = [
    {
        name: "General Checkups",
        description:
            "Prevention is better than cure, and we offer thorough check-ups to catch small issues before they become big problems.",
        imageSrc: "/general_checkups.jpg",
    },
    {
        name: "Smile Enhancements",
        description:
            "Tired of wonky, unequal teeth? We take care of all your braces, and even offer financing for expensive operations.",
        imageSrc: "/smile_enhancements.jpg",
    },
    {
        name: "Braces & Alignments",
        description:
            "Tired of wonky, unequal teeth? We take care of all your braces, and even offer financing for expensive operations.",
        imageSrc: "/braces.jpg",
    },
    {
        name: "Teeth Whitening",
        description:
            "Yellow teeth? Ugh! Fix it with the most stunning treatments that deliver real results in just one visit.",
        imageSrc: "/whitening.jpg",
    },
];
---

<section class="base-section">
    <div class="services-content">
        <div class="services-headings">
            <h4>OUR SERVICES</h4>
            <h2>Exceptional Dental Care</h2>
        </div>
        <div class="services-grid">
            <div class="services-service">
                <img src="/whitening.jpg" alt="Teeth Whitening" />
                <div>
                    <!-- TODO: Make all the services 1 by 1 automatic (and style it ofc) -->
                    <h3>Teeth Whitening</h3>
                    <p>
                        Yellow teeth? Ugh! Fix it with the most stunning
                        treatments that deliver real results in just one visit.
                    </p>
                    <img
                        src="/icons/arrow_right.svg"
                        alt="Arrow Pointing To The Right"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
